{% extends "admin/base.html" %}

{% block title %}{{ 'Edit' if category else 'Create' }} Category | AdminLTE{% endblock %}
{% block header %}{{ 'Edit' if category else 'Create' }} Category{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Category Details</h3>
      </div>
      <form action="{{ url_for('dashboard.edit_category', category_id=category.id) if category else url_for('dashboard.create_category') }}" method="post">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Category Name <span class="text-danger">*</span></label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter category name" value="{{ category.name if category else '' }}" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="remark">Remark</label>
                <input type="text" name="remark" id="remark" class="form-control" placeholder="Enter remark" value="{{ category.remark if category else '' }}">
              </div>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Created By (User)</label>
                <input type="text" class="form-control bg-light" value="{{ current_user.username }}" readonly>
                <input type="hidden" name="user_id" value="{{ current_user.id }}">
              </div>
            </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{{ url_for('dashboard.list_categories') }}" class="btn btn-default">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
